div#challengeAluraflix {
    height: 100vh;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #353535;
        background-size: cover;
        background-position: top center;
        z-index: -999;
    }

    div.movieSearch {
        width: 300px;
        margin: 15px 450px 0 450px;

        h1 {
            text-align: center;
            color: #ff0000;            
            font-weight: bolder;
            margin-bottom: 20px;
            font-size: 35px;
        }

        label {
            color: #fff;
            font-weight: 500;
        }

        input {
            margin-top: 5px;
            width: 255px;
        }

        button {
            float: right;
            margin-top: -38px;
        }
    }

    div.swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        .swiper-slide {
            background-position: center;
            background-size: 300px 300px;
            width: 300px;
            height: 300px;
        }
    }

}

@media (max-width: 990px) {

    div.movieSearch {
        width: 300px;
        margin: 15px 0 0 15px !important;

        h1 {
            margin-bottom: 10px !important;
            font-size: 33px !important;
        }
    }

    div.swiper-container {
        padding-top: 30px !important;
    }

}